/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    min-width: 250px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */
body {
    background-color: #454856;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
    text-shadow: 0.5px 0.5px 0.7px #DC0405;
}

#header {
    background-color: #DC0405;
}

.row {
    padding: 10px;
}

img {
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 18px;

}

ul {

    margin-bottom: 10px;
}

ul > li {
    list-style-type: none;

    text-shadow: 0.5px 0.5px 0.7px #DC0405;
}

.vbottom {
    display: inline-block;
    vertical-align: bottom;
    float: none;
}

#menu-icon {
    /*background-color: rgba(200,200,200,0.4);*/
    border-radius: 8px 8px 0 0;
    text-align: center;
    font-size: 40px;
    padding: 0;
}
#menu-icon > i {
    display: none;
    width: 100%;
    background-color: rgba(200,200,200,0.4);
    padding: 13px 3px;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}

#menu-icon > i:hover {
    background-color: rgba(200,200,200,0.8);
}

#navigation-icons {
    text-align: center;
    font-size: 30px;
    background-color: rgba(200,200,200,0.4);
    border-radius: 8px;
    padding: 10px 3px;
}

#navigation-icons > i {
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#navigation-icons > i:hover {
    background-color: #DC0405;
    box-shadow: none;
}

#navigation-icons > span {
    vertical-align: text-bottom;
}

.active-page {
    background-color: #DC0405;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}


.icon{
    font-size:50px;
    margin-top:2%;
    text-shadow: 2px 2px 5px #DC0405;
}

.nav-icon {
    border-radius: 8px;
    background-color: #DC0405;
    padding: 2%;
    cursor: pointer;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}
.nav-icon:hover {
    box-shadow: none;
}




.drink-icon-container {
    text-align: center;
}

.drink-icon {
    font-size: 200px;
}

#drink-ajax-loader {
    margin: 0 auto;
}

#poster{
    margin-left: auto;
    margin-right:auto;
}

#drink-button, #food-button, #movie-button, #restart-button {

}

select {
    font-weight: bold;
}



@media screen and (min-width: 479px){
    /*
    Egenskaper för mobil
    */
}

@media (max-width: 768px){

    #menu-icon > i {
        display: block;
    }

    #navigation-icons {
        border-radius: 0 0 8px 8px;
    }

    #navigation-icons > i {
        margin: 3px auto;
        width: 95%;
    }
    #navigation-icons > span {
        display: none;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px){
    /*
    Egenskaper för tablets
    */

}


@media screen and (min-width: 1025px){

    /*
    Egenskaper för desktop
    */
    figure {
        margin-top: 20px;
        /*width: 400px;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


}










/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
